@import "base";

body {
    background-color:var(--green);
    display:flex;
    box-sizing: border-box;
    justify-content:center;
}


#header {
    text-align:center;
    color:var(--white);
    margin-bottom:2rem;
    font-size: var(--font-size);
}

#result {
    border:8px solid var(--white);    
    font-size:3rem;
    width:12rem;
    height:12rem;
    border-radius:50%;
    margin-top:4rem;
    margin-bottom:4rem;
    padding-top:4rem;
    text-align:center;
}

p {
    font-size:2rem;
    color:var(--white);

}

main {

        display:flex;
        flex-direction:column;
        width:70vw;
        margin-top:28rem;
        align-items:center;

}

