@import "base";

body {
    background-color:var(--green);
    display:flex;
    box-sizing: border-box;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}


#header {
    text-align:center;
    color:var(--white);
    margin-bottom:2rem;
    font-size: var(--font-size);
}

main {
        display:flex;
        flex-direction:column;
        width:70vw;
        margin:28rem auto 0  auto;
}

footer {
    margin-top:10rem;
}
